<!-- <div class="sidenav" style="margin-top: 50px;">
    <a [routerLink]="['/admin/signup']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Add
        User</a>
    <a [routerLink]="['/admin/drug-add']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Add
        Drug</a>
    <a [routerLink]="['/admin/drugs']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">All
        Drugs</a>
    <a [routerLink]="['/admin/users']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">All
        Users</a>

</div> -->








 <div  id="wrapper" style="display: inline-block;">

    <!-- Sidebar -->
     <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Admin Panel </div>
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" [routerLink]="['/admin/signup']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Add
            User</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/admin/drug-add']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Add
            Drug</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/admin/drugs']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">All
            Drugs</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/admin/users']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">All
            Users</a>
    
      </div>
    </div> 
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <!-- </div> -->