<!-- <div class="sidenav" style="margin-top: 50px;">
    <a class="list-group-item list-group-item-action" [routerLink]="['/doctor/search']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        Search by id</a>
<a  class="list-group-item list-group-item-action"[routerLink]="['/doctor/searchNationalId']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
    Search by National id</a>
<a class="list-group-item list-group-item-action" [routerLink]="['/doctor/add-patient']" [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{exact: true}">
    Add Patient</a>
</div> -->


<div id="wrapper" style="display: inline-block;">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Pharmacy Panel </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action" [routerLink]="['/pharmacy/search']"
                [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                Search by id</a>
            <a class="list-group-item list-group-item-action" [routerLink]="['/pharmacy/searchNationalId']"
                [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                Search by National id</a>
         

        </div>
    </div>