    <div *ngIf="loaded">
    no of recipe <span>id : </span>{{recipe.id}}<br>
    <span>title : </span>{{recipe.title}}<br>
    <span>start date: </span>{{recipe.start_date |date}}<br>
    <span>end date: </span>{{recipe.end_date|date}}<br>
    <span>notes: </span>{{recipe.notes}}<br>
    <h4>Drugs</h4>
    <h4 *ngFor="let drug of recipe.drugs" >
        <span>drug : </span>{{drug.drug_details[0].name}}
        <span>dose: </span>{{drug.dose}}
        <span>unit: </span>{{drug.unit}}
        <span>duration : </span>{{drug.duration}}
        <span>rotes : </span>{{drug.rotes}}


    </h4>

    <button (click)="print(recipe)" class="btn btn-primary">Print Recipe</button>
    

    </div>